.articleForm {
    display: flex;
    flex-direction: row;
    background-color:rgb(241, 241, 241);
}

.articleForm fieldset{
    width: 100%;
    justify-content: space-between;
    border: none;
    display:inline-block;

}

.articleUrl {
    font-style: italic;
}