@media screen and (max-height: 450px) {
    .side--friends {padding-top: 15px;}
    .side--friends a {font-size: 18px;}
  }
  
  aside {
    font-family: "Lato", sans-serif;
  }
  
  .side--friends {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: greenyellow;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: 0.5s;
    box-shadow: -65px 0px 25px -10px rgba(0,0,0,0.65);
  }
  
  
  .side--friends:first-child {
    padding-top: 40px;
  }
  
  .side--friends:last-child {
   padding-bottom: 50px;
  
  }
  
  .friends__content {
    text-decoration: none;
    font-size: 20px;
    line-height: 2rem;
    color: white;
    display: block;
    transition: 0.3s;
    text-align:center;
    background-color: slategrey;
    border-radius: 4px;
    /* border: .04rem groove black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    padding: 15px 0 15px 0;
  
    align-items: center;
    box-shadow: 0px 0px 5px 0px #272c2f;
  }
  
  .side--friends .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .side--friends .closebtn:hover {
    transition-duration: .3s;
    color: greenyellow;
    cursor: pointer;
  }
  
  
  
  .friends__buttons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 120px;
  }

 
  
  .show__friends {
    font-size: 18px;
    color: #000000;
    text-align: center;
    height: 40px;
    width: 100px;
    margin-top: 10px;
    display: flex; 
    justify-content: center;
    
  }

  .button__details:hover {
    transition-duration: .3s;
    color: white;
    cursor: pointer;
    background-color: #527D90;
    
  }
  
  
  
  
  .button__delete:hover {
    transition-duration: .3s;
    color: white;
    cursor: pointer;
    background-color: #527D90;
  }
  
  .button__events:hover {
    transition-duration: .3s;
    color: white;
    cursor: pointer;
    background-color: #527D90;
  }
  
  /* STYLING SAVED friends CARDS */
  .friends__name {
    font-family: sans-serif;
    font-size: 24px;
  }
  
  .friends__content {
    
    font-size: 16.5px;
  }

  .friendsStockPhoto img {
    width: 50px;
    height: 50px;
  }

  .friendCard {
    margin-left: 30px;
  }

  .friendSearchBar input {
    width: 100%;
  }
  