
.sectionTitle {
    text-align:center;
}
section.eventForm {
    display: flex;
    flex-direction: row;
    flex-shrink: 20%;
    background-color:rgb(241, 241, 241);
    margin: 2%;
}

section.eventForm fieldset{
    /* width: 50%; */
    justify-content: space-between;
    border: none;
    display:inline-block;

}

section.friendEventCard {
    font-style: italic;
    background-color: cornsilk;
    padding: 1%;
}